.TextCardFlex {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: top;
}

.TextCard {
    height: 30vmin;
    width: 70vmin;
    background-color: #EBE3C1;
    padding: 1vmin;
    color: #3D3D1B;
    border-radius: 5px;
    margin: 1vmin auto;
    overflow-y: scroll;
    overflow-wrap: break-word;
    scrollbar-color: #3D3D1B ;
    text-align: left;
}

.TextCardFlex .buttons {
    height: 5vmin;
    width: 10vmin;
    display: flex;
    flex-direction: column;
    padding: 1vmin; 
}
