.TextBlockForm form {
    display: flex;
    flex-direction: column; 
}

.TextBlockForm textarea {
    width: 100vmin;
    height: 50vmin;
    padding: 12px 20px;
    border: 2px solid #DE9A7C;
    border-radius: 4px;
    background-color: #EBE3C1;
    font-size: 12px;
    resize: none;
    margin: 0 auto;
}

  .TextBlockForm button {
    width: 50vmin;
    margin: 1vmin auto;
  }